/Test/nbproject/private/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/TestOne/nbproject/private/
/TestOne/build/
/9465_Stefano_tut1/nbproject/private/
/Stefano_tut1/nbproject/private/
/Stefano_tut1/build/
/9465_Stefano_tut1/build/
/StefanoTutorial2/nbproject/private/
/9465_Stefano_tut2/nbproject/private/
/java_Expression/nbproject/private/
/JavaExpression/nbproject/private/
/JavaExpression/build/
/9465_Stefano_tut2/build/
/Inheritage/nbproject/private/
/Inheritage/build/
/9465_Stefano_tut3/nbproject/private/
/9465_Stefano_tut3/build/
/9465_Stefano_tut3_task3_4/nbproject/private/
/9465_Stefano_tut3_task3_4/build/
/9465_Stefano_Pruna_Assessment1/nbproject/private/
/AbstractClasses/nbproject/private/
/AbstractClass/nbproject/private/
/AbstractClass/build/
/Human/nbproject/private/
/9465_Stefano_tut4/nbproject/private/
/9465_Stefano_tut4_task2/nbproject/private/
/Human/build/
/9465_Stefano_tut4/build/
/9465_Stefano_tut4_task2/build/
/9465_Stefano_tut4/dist/
/9465_Stefano_Pruna_Assessment1/build/
/Assessment1Test/nbproject/private/
/Assessment1Test/build/
/9465_Stefano_Pruna_AssessmentTestOne/nbproject/private/
/9465_Stefano_tut5/nbproject/private/
/9465_Stefano_tut6/nbproject/private/
/JavaFXLogin/nbproject/private/
/JavaFXLogin/build/
/JavaFXCircleCylinder/nbproject/private/
/JavaFXCircleCylinder/build/
/9465_Stefano_Tut7/nbproject/private/
/9465_Stefano_Tut7/build/
/9465_Stefano_Tutorial7/nbproject/private/
/9465_Stefano_Tutorial7/build/
/JavaFxSwitchScreenContent/nbproject/private/
/JavaFxSwitchScreenContent/build/
/9465_Stefano_Tut8_task1/nbproject/private/
/JavaExceptions/nbproject/private/
/JavaExceptions/build/
/9465_Stefano_Tut8_task1/build/
/9465_Stefano_Tut8_Task2/nbproject/private/
/9465_Stefano_Tut8_Task2/build/